[submodule "sas_core"]
	path = sas_core
	url = git@github.com:SmartArmStack/sas_core.git
	branch = ros2
[submodule "sas_common"]
	path = sas_common
	url = git@github.com:SmartArmStack/sas_common.git
	branch = ros2
[submodule "sas_msgs"]
	path = sas_msgs
	url = git@github.com:SmartArmStack/sas_msgs.git
	branch = ros2
[submodule "sas_conversions"]
	path = sas_conversions
	url = git@github.com:SmartArmStack/sas_conversions.git
	branch = ros2
[submodule "sas_robot_driver"]
	path = sas_robot_driver
	url = git@github.com:SmartArmStack/sas_robot_driver.git
	branch = ros2
[submodule "sas_robot_kinematics"]
	path = sas_robot_kinematics
	url = git@github.com:SmartArmStack/sas_robot_kinematics.git
	branch = ros2
[submodule "sas_robot_driver_denso"]
	path = sas_robot_driver_denso
	url = git@github.com:SmartArmStack/sas_robot_driver_denso.git
	branch = ros2
[submodule "sas_datalogger"]
	path = sas_datalogger
	url = git@github.com:SmartArmStack/sas_datalogger.git
	branch = ros2
[submodule "sas_robot_driver_kuka"]
	path = sas_robot_driver_kuka
	url = git@github.com:MarinhoLab/sas_robot_driver_kuka.git
[submodule "sas_robot_driver_ur"]
	path = sas_robot_driver_ur
	url = git@github.com:MarinhoLab/sas_robot_driver_ur.git
